
/* responsice 992px*/

@media screen and (max-width:991px) {
    .card{
        width: calc(100% / 4 - (40px / 4));
    }

    
    #lista-section{
        flex-wrap: wrap;
    }

}

/*responsive 768px*/

@media screen and (max-width:767px) {
    .card{
        width: calc(100% / 2 - (20px / 2));
    }

    
    #lista-section{
        flex-wrap: wrap;
    }

}

/*responsive 575px*/

@media screen and (max-width:574px){

    .left {
        width:50px;
       justify-content: center;
    }

    .left .logo,
    .left h5,
    .left h3,
    .left .palylist-container,
    .left .playlist-name,
    .left p {
        display:none;
    } 

    .logo-small {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    
  }


  .top-container{
    padding:0;
    align-items: center;

  }

  .download-container{
    align-items: center;
    padding: 0 0 5px;
  }

}