/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper{
    /*debug*/
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-1{
    background-color: brown;
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.right{
    width: 100px;
    background-color: black;
}

.left{
    background-color: blue;
    flex-grow: 1;
}

.container-2{
    background-color: blueviolet;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    height: 150px;
}