/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


#wrapper{
    /*debug*/
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-1{
    background-color: brown;
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.left{
    width: 200px;
    background-color: black;
}

.right{
    background-color: blue;
    flex-grow: 1;
    padding-left: 10px;

}

.upgrade{
    display: flex;
    background-color: rgb(230, 230, 17);
    height: 100px;
    padding-right:20px;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 20px;
   
}

.btn{
    padding:10px 30px;
    color: white;
    border-radius: 20px;
    border: solid 2px black;

}

#lista-section{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.container-2{
    background-color: blueviolet;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    height: 150px;
}