/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}


#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-1{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

/* sezione colonna sinistra*/

.left{
    position: sticky;
    top: 0;
    width: 350px;
    background-color: black;
}

.logo{
    display: flex;
    height: 100px;
    padding-left:10px;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 20px;

}

.top-container {
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.top-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7d7d7d;
    gap: 5px;
}

.home-img {
    width: 25px;
}

.playlist-title {
    color: white;
    padding: 30px 0 0 20px;
    font-size: 1rem;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0 0 20px;
}

.playlist-img {
    width: 35px;
}

div.playlist-container a {
    display: flex;
    align-items: center;
    color: #7d7d7d;
    gap: 10px;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-container {
    margin-top: auto;
    padding: 0 0 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-img {
    width: 15px;
}

div.download-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7d7d7d;
    gap: 10px;
}

.profile-img {
    width: 25px;
    height: 25px;
    background-color: #7e7e7e;
    border: 1px solid #7e7e7e;
    border-radius: 50%;
}

.john {
    font-size: 1.2rem;
    color: #ffffff;
}

/*sezione colonna destra*/

.right{
    flex-grow: 1;
}

.upgrade{
    display: flex;
    background-color: #7d7d7d;
    height: 100px;
    padding-right:20px;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
   
}

.btn{
    padding:10px 30px;
    color: white;
    border-radius: 20px;
    border: solid 2px black;

}

#lista-section{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.title{
    padding: 10px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.card{
  width: calc(100% / 6 - (40px / 3));
}

.container-2{
    background-color: blueviolet;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    height: 100px;
}