/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}


#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-1 {
    display: flex;
    height: calc(100vh - 100px);
}

/* sezione colonna sinistra*/

.left {
    display: flex;
    flex-direction: column;
    width: 250px;
    flex-shrink: 0;
    background-color: black;
}

.logo {
    display: flex;
    height: 100px;
    width: 200px;
    padding-left: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

}

.top-container {
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.top-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7d7d7d;
    gap: 5px;
}

.top-container a:hover {
    color: white;
}

.playlist-container a:hover {
    color: white;
}




.home-img {
    width: 25px;
}

.playlist-title {
    color: white;
    padding: 30px 0 0 20px;
    font-size: 1rem;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0 0 20px;
}


div.playlist-container a {
    display: flex;
    align-items: center;
    color: #7d7d7d;
    gap: 10px;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-container {
    margin-top: auto;
    padding: 0 0 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-img {
    width: 15px;
}

div.download-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7d7d7d;
    gap: 10px;
}

.profile-img {
    width: 25px;
    height: 25px;
    background-color: #7e7e7e;
    border: 1px solid #7e7e7e;
    border-radius: 50%;
}

.john {
    font-size: 1.2rem;
    color: #ffffff;
}

/*sezione colonna destra*/

.right {
    flex-grow: 1;
}

.upgrade {
    display: flex;
    background-color: rgb(11, 11, 11);
    height: 100px;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 0.9;

}

.btn {
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    border: solid 2px white;

}

.btn:hover {
    font-size: 20px;

}

.nav-section {
    padding-top: 20px;
}


#lista-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 20px;

}

#lista-section a {
    color:#b3b3b3;
}

#lista-section a:hover {
    color: white;
    
}

.scroll-section {
    overflow-y: auto;
    height: 100%;
    background-color: rgb(83, 82, 82);
}

.title {
    padding: 10px;
    color: white;
}

.title h6 {
    color: #b3b3b3;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.card {
    width: calc(100% / 6 - (40px / 3));
    position: relative;
}

.card img{
    display: block;
    height: auto;

}

.centro{
    position: absolute;
    background-color: #7d7d7d;
    font-size: 50px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card:hover .centro{
    opacity:1;

}

.card-circle img{
    border-radius: 70px;
}


.container-2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    height: 100px;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #282828;
}

.playing-now {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 30%;
    color: gray;
}

.playing-now img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.reproduction-bar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    
    color: white;
    padding-bottom: 10px;
}

.controls .fa-circle-play {
    font-size: 35px;
}

.reproduction-bar .progress {
    width: 70%;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    margin-top: 5px;
    position: relative;
}



.volume-bar {
    display: flex;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.volume-bar .progress {
    width: 40%;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    margin-top: 5px;
    position: relative;
}